.hero-section {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .black-box{
        display: none;

        h1{
            font-family: Big Shoulders Display;
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 88px;
/* or 92% */

text-transform: uppercase;

/* White */

color: #FFFFFF;
        }
    }
  .hero-img {
      width: 100%;
      height: 240px;

      img{
          height: 240px;
      }
  }

  .hero-text {
      max-width: 343px;
      margin-top: 16px;
      padding: 16px;
    h1 {
      font-family: Big Shoulders Display;
      font-style: normal;
      font-weight: 900;
      font-size: 60px;
      line-height: 55px;
      /* or 92% */

      text-transform: uppercase;

      /* Almost Black */

      color: #151515;
    }

    p {
        margin-top: 32px;
      font-family: Outfit;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
      /* or 156% */

      /* Dark Grey */

      color: #444444;
    }
    .hero-button {
      display: flex;
      margin-top: 32px;
      button {
        width: 260px;
        height: 72px;
        border: none;
        background-color: #151515;
        font-family: Big Shoulders Display;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */

        letter-spacing: 3.63636px;

        /* White */

        color: #ffffff;
      }

      .button-arrow {
        width: 56px;
        height: 72px;
        background: #d5966c;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

}

.day-at-gallery{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .gallery-image{
        width: 100%;
    }
    .gallery-text{
        max-width: 343px;
        margin-top: 25px;
      
        h2{

            font-family: Big Shoulders Display;
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 45px;
/* or 90% */

text-transform: uppercase;

/* Almost Black */

color: #151515;

            
                }
                p{
                    margin-top: 21px;
                    font-family: Outfit;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
            /* or 156% */
            
            
            /* Dark Grey */
            
            color: #444444;
            
                }
    }

   
   
}

.inside-gallery{
    padding: 16px;
    width: 100%;
    .inside-image-cont{
        width: 100%;
    }

    .inside-image-text-cont{
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .inside-image-two-cont{
            width: 100%;
        }

        .inside-gallery-text{
            margin-top: 30px;
            padding:48px 24px;
           
/* Almost Black */

background: #151515;

h3{
    
    font-family: Big Shoulders Display;
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 45px;
/* or 90% */

text-transform: uppercase;

/* White */

color: #FFFFFF;

}

p{
    margin-top: 24px;
    font-family: Outfit;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 28px;
/* or 156% */


/* White */

color: #FFFFFF;
}
        }

    }

}



@media (min-width: 717px) {
    .hero-section{
         display: block;
        .hero-img {
            min-width: 437px;
            max-width: 50%;
            height: 700px;
      
            img{
                min-width: 437px;
                height: 700px;
            }
        }
        .hero-text{
            max-width: 339px;
            position: absolute;
            left: 50%;
            top: 145px;
        }
      }
      .day-at-gallery-cont{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .day-at-gallery{
          max-width: 689px;
        margin-top: 104px;
        padding: 0;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        .gallery-image{
            width: 100%;
            max-width: 398px;
            margin-left: 125px;
        }
        .gallery-text{
            max-width: 223px;
            margin-top: 0px;
            min-height: 299px;
          
            p{
                margin-top: 24px;
            }
        }
       
    }


    .inside-gallery{
        padding: 0 ;
        margin-top: 11px;
        min-width: 689px;
        display: flex;
        justify-content: center;   

        .inside-image-cont{
            max-width: 398px;

        }
    
        .inside-image-text-cont{
            margin-top: 0px;
           max-width: 280px;
            margin-left: 11px;
    
            .inside-image-two-cont{
                width: 100%;
                min-height: 313px;
            }
    
            .inside-gallery-text{
                margin-top: 11px;
                min-height: 396px;
        
   
    
    }
}
    }
}

@media (min-width: 1024px) {
    .hero-section{
         display: flex;
         flex-direction: row;
         align-items: flex-start;
         .black-box{
            display: block;
            background: #151515;
            min-width: 450px;
            height: 800px;
            .header-text-cont{
                position: absolute;
                left: 165px;
                top: 20%;
                max-width: 514px;
                h1{
                    mix-blend-mode:difference;

                }
            }
         }
        .hero-img {
            max-width: 540px;
            height: 800px;
      
            img{
                min-width: 437px;
                height: 800px;
            }
        }
        .hero-text{
            max-width: 350px;
            position: absolute;
            left: 65%;
            top: 145px;
            margin-right: 0px;
          
            h1{
                display: none;
            }
            p{
                font-size: 22px;
                line-height: 32px;
            }
        }
      }
      .day-at-gallery-cont{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
      .day-at-gallery{
          min-width: 1110px;
        margin-top: 104px;
        padding: 0;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        .gallery-image{
            width: 100%;
            max-width: 635px;
            margin-left: 125px;
        }
        .gallery-text{
            max-width: 350px;
            margin-top: 0px;
            min-height: 280px;

          h2{
            font-size: 60px;
line-height: 60px;
          }
            p{
                margin-top: 24px;
                font-size: 22px;
line-height: 32px;
            }
        }
       
    }
    .inside-gallery{
        padding: 0 ;
        margin-top: 11px;
        min-height: 720px;
        min-width: 1110px;
        display: flex;
        justify-content: center;   

        .inside-image-cont{
            min-width: 635px;
            min-height: 720px;
            margin-right: 30px;
        }
    
        .inside-image-text-cont{
            margin-top: 0px;
           max-width: 445px;
            min-height: 720px;
    
            .inside-image-two-cont{
                width: 100%;
                min-height: 313px;
            }
    
            .inside-gallery-text{
                margin-top: 11px;
                min-height: 396px;
        
    h3{
        
     
    font-size: 60px;
    line-height: 60px;
    
    }
    
    p{
    
    font-size: 22px;
    line-height: 32px;
    
    }
            }
    
        }
    }

    
 
}

@media (min-width: 1600px) {
    .hero-section{
         display: flex;
         flex-direction: row;
         align-items: flex-start;
         .black-box{
            display: block;
            background: #151515;
            min-width: 750px;
            height: 800px;
            .header-text-cont{
                position: absolute;
                left: 165px;
                top: 20%;
                max-width: 514px;

                h1{
                    mix-blend-mode: difference;

                }
            }
         }
        .hero-img {
            max-width: 640px;
            height: 800px;
      
            img{
                min-width: 437px;
                height: 800px;
            }
        }
        .hero-text{
            max-width: 350px;
            position: absolute;
            left: 70%;
            top: 145px;
            margin-right: 164px;
          
            h1{
                display: none;
            }
            p{
                font-size: 26px;
                line-height: 36px;
            }
        }
      }
      .day-at-gallery{
        margin-top: 104px;
        padding: 0;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        .gallery-image{
            width: 100%;
            max-width: 850px;
        }
        .gallery-text{
            max-width: 450px;
            margin-top: 0px;
            min-height: 280px;
          h2{
            font-size: 70px;
            line-height: 70px;
          }
            p{
                margin-top: 24px;
                font-size: 26px;
                line-height: 32px;
            }
        }
       
    }
}


@media (min-width: 2000px) {
    .hero-section{
         display: flex;
         flex-direction: row;
         align-items: flex-start;
         .black-box{
            display: block;
            background: #151515;
            min-width: 1050px;
            height: 800px;
            .header-text-cont{
                position: absolute;
                left: 205px;
                top: 20%;
                max-width: 514px;
            }
         }
        .hero-img {
            max-width: 840px;
            height: 800px;
      
            img{
                min-width: 437px;
                height: 800px;
            }
        }
        .hero-text{
            max-width: 350px;
            position: absolute;
            left: 80%;
            top: 145px;
            margin-right: 164px;
          
            h1{
                display: none;
            }
            p{
                font-size: 30px;
                line-height: 42px;
            }
        }
      }

      .day-at-gallery{
        margin-top: 104px;
        padding: 0;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        .gallery-image{
            width: 100%;
            max-width: 1110px;
        }
        .gallery-text{
            max-width: 550px;
            margin-top: 0px;
            min-height: 280px;
          h2{
            font-size: 70px;
            line-height: 70px;
          }
            p{
                margin-top: 24px;
                font-size: 26px;
                line-height: 32px;
            }
        }
       
    }
 
}